<html>
<head>
	<title>MEMBER ONE</title>
</head>
<body align= "middle">
	<div style="text-align: center"> 

        <a href="/module/three" style="text-decoration: none"> 
         <b>Return to the Home Page</b></span></a>
        </div>

	<font face = "rockwell extra bold"><h1>JOHN PATRICK MOSTOLES</h1>
	<img src = "https://z-n.ak.fbcdn.net/z-1-scontent-a.xx/hphotos-xpa1/t1.0-9/10353025_1429689130646528_3982826823935570577_n.jpg" width = 250px length = 250px border = 2 bgcolor= #A8A8A8 /> 

	<body background= "white">
<center>
<table border=1>
	
	<tr>
	<td align= "center">
	<font face = "rockwell extra bold"><h2>Tagline:</h2>
	<font face = "calibri"><p>"Just Be Yourself"</p>
	<tr>
	</td>

	

	<tr>
	<td align= "center">
	<font face = "rockwell extra bold"><h2>About me:</h2>
	<font face = "calibri"><p>Sugoi! You can call me PM for short.</p>
	<p>I am a 5th year Computer Engineering student. I'm a happy person with a great sense of humor.</p>
	<p>I like spending my time with my family, friends and love one.</p>	
	</tr>
	</td>

	

	<tr>
	<td align= "center">
	<font face = "rockwell extra bold"><h2>Contact Details:</h2>
	<font face = "calibri"><p>Phone: 09264819109/09163115537</p>
	<font face = "calibri"><p>Email: johnpatrickostoles7@gmail.com</p>	
	</tr>
	</td>

	
</table>
</center>

	<h2>Social Networking Links:</h2>
	<tr style="border-radius:8px;">
      		<td align="middle" bgcolor=#C1C1C1 style = "border: 2px solid #272822; border-radius: 8px; opacity:0.8;">
      			

      			<a href="https://www.facebook.com/profile.php?id=100008163645960&ref=tn_tnmn"><img src = "http://t2.gstatic.com/images?q=tbn:ANd9GcQYuCbsmPLvmpWObmvCFxckWSM7itG2h80chjRXuelSGTIIXvIl" width=70px height=70px/ border= 2></a>

      			<a href="https://github.com/johnpatrickmostoles"><img src = "http://t0.gstatic.com/images?q=tbn:ANd9GcSr6kxazAmpMxrg-6nfx_3RKJYwq-_KnMoDKDjWM6pLqhROKbNU" width=70px height=70px/ border= 2></a>

			    <a href="https://profile.yahoo.com/Z56OXAPPZUBPRP7EWPTCAZ46VA/"><img src = "http://t0.gstatic.com/images?q=tbn:ANd9GcQZKfWoH_lUrdCjcmqDKD9OSewmdo_oloSTCklsk8x00WxU2Hn4sg" width=70px height=70px/ border= 2></a>

				<a href="http://www.codecademy.com/johnpatrickmostoles"><img src = "http://t1.gstatic.com/images?q=tbn:ANd9GcT-0g1jD4APyyq5g043myaiUocIzg9OjYxWzBmbfFjoT3Nr35YLdg" width=70px height=70px/ border= 2></a>

				<a href="https://plus.google.com/u/0/107793624102290115949/about"><img src = "http://t0.gstatic.com/images?q=tbn:ANd9GcSO6HiuRZaUbzEaAW7bfQE8gRaSXJpz7LRt1VIB1zRP4WmrxA_D" width=70px height=70px/ border= 2></a>
      		</td>
      	</tr>

<center>
<table>	
	
		<tr><td >

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/module-1/1?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign in to PM's Guestbook"
            style="padding: 10px 10px 10px;
              font-size: 15px;
              font-style: Verdana;
              background-color: #808080;
              color: #080808;
              border-radius: 8px;"></div>
        </form>
    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a color= #FE8196 href="{{ url|safe }}">{{ url_linktext }}</a>
   

   	</tr></td>
</table>
</center>


</body>
</html>